<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36521729455-pifa50ea2akv77qvbrd7940o7rhn9hg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36521729455-pifa50ea2akv77qvbrd7940o7rhn9hg9</string>
	<key>API_KEY</key>
	<string>AIzaSyBicyBbnAHcpdGdQ5sHCA0aKuOr-Go_49w</string>
	<key>GCM_SENDER_ID</key>
	<string>36521729455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quicklist</string>
	<key>PROJECT_ID</key>
	<string>quilist</string>
	<key>STORAGE_BUCKET</key>
	<string>quilist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36521729455:ios:c40521e90bb519487d635a</string>
</dict>
</plist>